@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$bg-primary: #e7e9f6;
$bg-secondary: #b8b8b8;
$bg-black: #000000;
$bg-white: #FFFFFF;
$text-icon: #183D3D;
$text-secondary: #5C8374;
$text-primary: #5C8374;
$text-white: #FFFFFF;
$text-black: #000000;
$btn-main: #183D3D;
