@import '../../styles/style';

.card {
   border-radius: 12px;
   overflow: hidden;
   position: relative;
   margin-bottom: .75rem;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
   
   .card-footer {
      @include padding;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: 0;
      background: rgba($bg-black, .65);
      backdrop-filter: blur(4px);
      text-overflow: ellipsis;
      
      a {
         text-decoration: none;
         transition: .3s ease-in;
         text-align: center;
      }
      
      h3 {
         @include roboto-style(500, $text-white);
         font-size: .65rem;
         margin: 0.5rem
      }
      
      small {
         @include roboto-style(300, rgba($text-white, .85));
         font-size: .5rem;
         margin-top: 0;
      }
   }
}

/* @media only screen and (min-width: 40.063em) and (max-width: 120em) {
   
   .card {
      margin-bottom: 1.2rem;
      
      .card-footer {
         h3 {
            font-size: 1rem;
         }
         small {
            font-size: .75rem;
         }
      }
   }
} */